$main-color: #F16D7F;
$secondary-color: #F1E4E6;
$text-color: #333;
$light-gray: #9f9f9f;
$header-bg: black;
$font-main-size: 14px;
$font-subtitle-size: 30px;
$font-title-size: 18px;
$width-phone: 390px;
